@model IEnumerable<CassandraWebTest.Models.ArticlesModels>

@{
    ViewBag.Title = "My Posts";
}

<div class="row>">
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href=@Url.Action("Watch", new { id = item.id }) class="list-group-item text-center">
                <h1>
                    @Html.DisplayFor(modelItem => item.title)
                </h1>
                <h4>
                    <span class="label label-success">
                        Author: YOU
                    </span>
                    <span class="label label-default">
                        Clicked: @Html.DisplayFor(modelItem => item.view_count)
                    </span>
                </h4>
                <h6>Posted: @Html.DisplayFor(modelItem => item.timestamp.DateTime) </h6>
            </a>
        }
        @if (Model.Count() < 1)
        {
            <div class="list-group-item text-center">
                <h1>You do not have any post posted</h1>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Do you want to create new company?</h2>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control"
                                   id="inputCompanyName" placeholder="Company Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input class="form-control"
                                   id="inputAddress" placeholder="Company Address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Budget</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="number" value="0" min="0"
                                   id="inputBudget" placeholder="Company Budget" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Login</label>
                        <div class="col-sm-10">
                            <input class="form-control"
                                   id="inputLogin" placeholder="Company Login Credentials" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                   id="inputPassword" placeholder="Company Password" />
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="createComapny()">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="denyNotification()">No</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Home/showNotification", success: function (result) {
                    if (result == "True") {
                        $("#notificationModal").modal();
                    }
                }
            });
        });
        function denyNotification() {
            $.ajax({
                url: "/Home/removeNotification", success: function (result) {
                }
            });
        }

        function createComapny() {
            $.ajax({
                url: "/Home/getEmployees", success: function (result) {
                    var company = {
                        Name: $("#inputCompanyName").val(),
                        AddressLine: $("#inputAddress").val(),
                        Budget: $("#inputBudget").val(),
                        Login: $("#inputLogin").val(),
                        Password: $("#inputPassword").val(),
                        employees: result
                    };
                    //TODO /Home/testCreateCompany to another URL
                    $.post("https://localhost:44338/Home/CreateCompany", company, function (data, status) {

                        $.post("/Home/setUserEmployeeIds", data, function (data, status) {
                            alert("company created");
                        });
                    });
                }
            });
        }
    </script>
}


