@model IEnumerable<CassandraWebTest.Models.ArticlesModels>

@{
    ViewBag.Title = "My Posts";
}

<div class="row>">
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href=@Url.Action("Watch", new { id = item.id }) class="list-group-item text-center">
                <h1>
                    @Html.DisplayFor(modelItem => item.title)
                </h1>
                <h4>
                    <span class="label label-success">
                        Author: YOU
                    </span>
                    <span class="label label-default">
                        Clicked: @Html.DisplayFor(modelItem => item.view_count)
                    </span>
                </h4>
                <h6>Posted: @Html.DisplayFor(modelItem => item.timestamp.DateTime) </h6>
            </a>
        }
        @if (Model.Count() < 1)
        {
            <div class="list-group-item text-center">
                <h1>You do not have any post posted</h1>
            </div>
        }
    </div>
</div>


